.containerFacturacion {
    display: flex;
    height: 100vh;
    width: 100%;


}

.containerGeneral {

    width: 83.4%;
    display: flex;
    flex-direction: column;
    align-items: center;


}

.containerTitulo {

    display: flex;
    /* background-color: red; */
    width: 100%;
    justify-content: left;
    padding-left: 1rem;
    align-items: center;
    gap: 30rem;
    box-sizing: border-box;

    svg {
        width: 2rem;
        height: 2rem;
    }

    h2 {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-weight: bold;

    }


    a {
        color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        padding: .5rem;
        border-radius: .5rem;
        margin: 0;

    }

}





.footerFact {
    margin: 2rem 0;
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;


    .containerFacturacionTotal {
        display: flex;
        flex-direction: row;
        width: 80%;
        align-items: center;
        padding: 2rem;
        border-radius: 0.5rem;
        /* background-color: red; */

    }

    h3 {
        display: flex;
        width: 100%;
        text-align: center;
    }


}





.containerFacturacionMeses {

    display: flex;
    width: 100%;
    justify-content: space-evenly;
    background-color: rgb(235, 238, 243);
    box-sizing: border-box;

    padding: 1rem;

    .link {
        color: white;
        text-transform: capitalize;
        padding: .5rem;
        background-color: #a3d921;
        border-radius: .5rem;


    }


}















.containerModuleFacturacion {


    width: 80%;
    height: max-content;
    border-radius: .5rem;
    padding: 4rem;
}








.containerDetallesFacturacion {

    display: flex;
    text-align: center;
    padding: .5rem;
    p {
        width: 10rem;
        text-transform: capitalize;

    }



}




.containerGetFact {
    display: flex;

    text-align: center;
    padding: .5rem;
    border: 1px solid #cdcacac4;




    p {
        width: 10rem;
        font-size: 13px;
        text-transform: uppercase;
        /* padding-bottom: 3rem; */


    }

    input{
        display: none;
    }



    .custom_file_upload {
        display: inline-block;
        background-color: #007bff;
        color: white;
        padding: 8px 0%;
        cursor: pointer;
        border-radius: 5px;
        font-weight: bold;
        text-align: center;
      }

      .custom-file-upload:hover {
        background-color: #0056b3;
      }


      button{
        padding: .5rem;
        margin: 0 .3rem;
        border-radius: .5rem;
        border: none ;
      }

      button:hover{
        cursor: pointer;
      }




}